html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

/* Header */

#dashboardNav {
    position: relative;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    color: whitesmoke;
 
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Sidebar */

.sidebar {        
    background-color: seashell;    
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-image: url(./Assets/heavy\ rain.png);
  
}

form {    
    width: 100%;
    position: relative;
    display: flex;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }

    
  #searchField {
    width: 80%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 100%;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    
  }
  
  #searchField:focus{
    color: #00B4CC;
  
  }
  
  #searchBtn {
    width: 40px;
    height: 100%;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .weatherContainer {
      flex: 3;
  }

  .btn {      
      border: .5px solid black;
  }

  #clearHistory {      
    margin-top: 20px;
      
  }

/* Main body of the app */

  .mainBody {
      width: auto !important;
      
  }

 .tempDiv {
   display: flex;
   margin-bottom: 10px;
 }

 .tempDiv > p {
  margin: auto 0;
}

 #celFar {
   margin-left: 20px; 
      
 }

 #cityDate {
   margin-bottom: 0;
   padding-top: 15px;
 }

 #cityDateIcon {
   display: flex;
 }

 #currentIcon {
   margin-left: 20px;
   height: 80px;
   width: 80px;  

 }

 .currentWeather {
   padding: 25px;
   margin-bottom: 25px;
   margin-top: 20px;   
   border: 1px solid black;
   border-radius: 25px;

 }

 #uvIndex {
   padding: 5px;
   color: white;
   border-radius: 10px;
 }

 /* Classes to change the UV Index colour */

 .green {
   background-color: green;
 }

 .yellow {
  background-color: yellow;
  color: black !important;
  border: 1px solid black;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

/* Hide class to hide the elements using display: none property */

.hide {
  display: none;
}

.card-container {
  padding-top: 20px;
}
 


