body {
    background-color: gainsboro

}

/* Styling for the mobile specific layout */

.mobile-header-brand {
    
    
    font-family: 'Cantata One', serif;
    background-color: #20B2AA;
    text-align: center;
    color: white;
    height: 80px;
    font-size: 35px;
    

 }

 /* I attempted to add line-height to the mobile-header-brand class above but this did not vertically align my text as I would have wanted hence why I have targeted the <p> element specifically */

 .mobile-header-brand > p {
    
    line-height: 80px;
    
 }

 .mobile-navbar {
     background-color: white;
     height: 60px;
     padding-top: 5px;     
     
 }

.mobile-navbar > ul {

    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    

}

.mobile-navbar > ul > li {
    display: inline;
    margin: 0 5px;
    padding: 10px;
    
    
}

/* Addition of pipes between nav links */

.pipe {
    height: 30px;
    margin-top: 10px;
    width: 1px;
    background-color: grey;
}

/* Styling of desktop navbar */

.desktopContainer {
    border-bottom: 1px solid black;    
    justify-content: space-between;
    background-color: white;
    display: none;
    

}

.desktop-navbar {
    background-color: white;
    height: 80px;

    
    
}

.desktop-navbar > ul {

   display: flex;
   list-style: none;
   justify-content:center;
   padding: 0;
   margin: 0;
   line-height: 60px;
   height: 60px;
   

}

.desktop-navbar > ul > .pipe {
    margin-top: 20px;
}

.desktop-navbar > ul > li {
   display: inline;
   margin: 0 5px;
   padding: 10px;

}

.desktop-header-brand {
    background-color: #20B2AA;
    width: 250px;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    color: white;
    font-family: 'Cantata One', serif;
    font-size: 35px;
    text-align: center;
    height: 80px;
    line-height: 80px;
    
}




 .container-md {
     background-color: white;
     font-family: 'Cantata One', serif;
     margin-left: 15px;
     margin-right: 15px;
     margin-top: 20px;
     padding-top: 20px;
     padding-left: 20px;
     padding-bottom: 20px;
     width: fit-content;

 }

 h2 {
    color: #20B2AA;

 }

 .column img {
     height: 250px;
     
 }

 .column {
     padding-right: 5px;
     padding-left: 5px;
 }

 .websiteImg {
     position: relative;
 }

 .websiteImg > p {
     position: absolute;
     bottom: 1px;
     width: 100%;
     text-align: center;
     background-color: #20B2AA;
     color: white;
    font-family: 'Cantata One', serif;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    
    
    
 }

 .passwordImg {
    position: relative;
}

.passwordImg > p {
    position: absolute;
    bottom: 1px;
    width: 100%;
    text-align: center;
    background-color: #20B2AA;
    color: white;
   font-family: 'Cantata One', serif;
   height: 40px;
   line-height: 40px;
   font-size: 20px;
   
   
}

.geoImg {
    position: relative;
}

.geoImg > p {
    position: absolute;
    bottom: 1px;
    width: 100%;
    text-align: center;
    background-color: #20B2AA;
    color: white;
   font-family: 'Cantata One', serif;
   height: 40px;
   line-height: 40px;
   font-size: 20px;
   
   
}

.rockImg {
    position: relative;
}

.rockImg > p {
    position: absolute;
    bottom: 1px;
    width: 100%;
    text-align: center;
    background-color: #20B2AA;
    color: white;
   font-family: 'Cantata One', serif;
   height: 40px;
   line-height: 40px;
   font-size: 20px;
   
   
}

.jsImg {
    position: relative;
}

.jsImg > p {
    position: absolute;
    bottom: 1px;
    width: 100%;
    text-align: center;
    background-color: #20B2AA;
    color: white;
   font-family: 'Cantata One', serif;
   height: 40px;
   line-height: 40px;
   font-size: 20px;
   
   
}
  
 

 footer {
    border-top: 5px solid #20B2AA;
    position: sticky;
    bottom: 0;

 }

 @media screen and (min-width: 768px) {

    #isMobile {

        display: none;
    }

    #is-desktop {

        display: flex;
    }

    .container-md {
        margin-bottom: 100px;
    }

    .column img {

        height: 300px;
    }

    }

    @media screen and (min-width: 980px) {

        .container-md {
            width: 60%;
            margin-right: 300px;
        }
    }

    /* Image grid */

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
      }

      /* The below line of code splits the photo grid into two equal columns and the passing to the left and right provides spacing between the columns */
      
      .column {
        flex: 50%;
        max-width: 50%;
        padding: 0 10px;
      }

      .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
      }
      
      @media screen and (max-width: 768px) {
        .column {
          position: relative;
          flex: 100%;
          max-width: 100%;
        }

        .container-md {
        
            max-width:100%;
        }
    }