body {
    background-color: gainsboro

}

/* Styling for the mobile specific layout */

.mobile-header-brand {
    
    
    font-family: 'Cantata One', serif;
    background-color: #20B2AA;
    text-align: center;
    color: white;
    height: 80px;
    font-size: 35px;
    

 }

 /* I attempted to add line-height to the mobile-header-brand class above but this did not vertically align my text as I would have wanted hence why I have targeted the <p> element specifically */

 .mobile-header-brand > p {
    
    line-height: 80px;
    
 }

 .mobile-navbar {
     background-color: white;
     height: 60px;
     padding-top: 5px;
     
 }

.mobile-navbar > ul {

    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    

}

.mobile-navbar > ul > li {
    display: inline;
    margin: 0 5px;
    padding: 10px;
    
}

/* Addition of pipes between nav links */

.pipe {
    height: 30px;
    margin-top: 10px;
    width: 1px;
    background-color: grey;
}

/* Styling of desktop navbar */

.desktopContainer {
    border-bottom: 1px solid black;    
    justify-content: space-between;
    background-color: white;
    display: none;
    

}

.desktop-navbar {
    background-color: white;
    height: 80px;

    
    
}

.desktop-navbar > ul {

   display: flex;
   list-style: none;
   justify-content:center;
   padding: 0;
   margin: 0;
   line-height: 60px;
   height: 60px;
   

}

.desktop-navbar > ul > .pipe {
    margin-top: 20px;
}

.desktop-navbar > ul > li {
   display: inline;
   margin: 0 5px;
   padding: 10px;

}

.desktop-header-brand {
    background-color: #20B2AA;
    width: 250px;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    color: white;
    font-family: 'Cantata One', serif;
    font-size: 35px;
    text-align: center;
    height: 80px;
    line-height: 80px;
    
}

/* End of navbar styling */



 .container-md {
     background-color: white;
     font-family: 'Cantata One', serif;
     margin-left: 15px;
     margin-right: 15px;
     margin-top: 20px;
     padding-top: 20px;
     padding-left: 20px;
     width: fit-content;

 }

 h2 {
    color: #20B2AA;
 }

 #index-image {
     width: 100%;
     margin-bottom: 10px;
 }

 article {
    margin-left: 10px;
    line-height: 35px;
    font-size: 20px;
}

footer {
   border-top: 5px solid #20B2AA;
   position: sticky;
   bottom: 0;
}



 @media screen and (min-width: 768px) {

    #isMobile {

        display: none;
    }

    #is-desktop {

        display: flex;
    }

    .container-md {
        clear: both;
        margin-top: 20px;
        margin-right: auto;
        margin-bottom: 300px;
    }

    

   #index-image {
    width: 40%;   
    float: left;
    margin-right: 10px;
   }

   p {
       margin-left: 10px;
   }
}    
 

 @media screen and (min-width: 980px) {

    .container-md {
        width: 60%;
        margin-right: 300px;
    }
}