*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
  }



body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    height: 100vh;
    width: 100vw;
    margin: 0px;
   
    
    
}

nav {
    border: solid darkgreen 2px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px; 
    padding-right: 20px;
    margin-bottom: 200px;
    margin-top: 0px;
    
    
    
}

#highScore {
    background-color: bisque;
}

#highScore > h1 {
    color: black;
}

#container {
    margin: auto;
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: coral;
    border: 2px solid;
    border-color: black;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-size: 1.5rem;
}

.btn:hover {
    border-color: yellowgreen;
}

#question {
    font-weight: bold;
    font-size: 20px;
}

.hide {
    display: none;
}



